.hero-section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: background 0.9s ease, color 0.9s ease;
}

.dark-theme {
  background: linear-gradient(to right, #777, #555, #333, #000);
  color: white;
}

.light-theme {
  background: linear-gradient(to right, #777, #ccc, #eee, #fff);
  color: #000000;
}

.transition-theme {
  transition: background-color 0.9s ease, color 0.9s ease;
}

.theme-change-animation {
  animation: fadeFlash 0.9s ease;
}

@keyframes fadeFlash {
  0% { opacity: 1; }
  25% { opacity: 0.2; }
  50% { opacity: 0.5; }
  75% { opacity: 0.7; }
  100% { opacity: 1; }
}

.dark-theme {
  background-color: #000;
  color: #fff;
}

.light-theme {
  background-color: #fff;
  color: #000;
}

html, body, #root, .app-container {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
}

.scroll-container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.scroll-section {
  scroll-snap-align: start;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*
.scroll-container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scroll-container::-webkit-scrollbar {
  display: flex;
}

.scroll-section {
  scroll-snap-align: start;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */


.section {
  height: 100vh;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}


